{% comment %}
  =================================================================================================
  This template is used as the base template for all other templates in the application.
  The base template includes the header and footer of the application, as well as the Bootstrap CSS and JavaScript.
  The base template also includes the navigation bar with links to the home page, feed page, and user profile page.
  The base template includes a footer with links to the About and Contact pages.
  =================================================================================================
{% endcomment %}
{% load static %}
<!doctype html> <!-- html declaration -->
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{% static 'images/favicon-16x16.png' %}">
    <title>Echo</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .audiowide-regular {
        font-family: "Audiowide", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 32px;
      }

      footer {
        position: fixed;
        right: 0;
        bottom: 0;
        margin-right: 20px;
      }
    </style>
  </head>
  <body class="d-flex flex-column h-100">
    <header>
    <nav class="navbar border navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
        <a class="navbar-brand audiowide-regular" href="{% url 'home' %}">Echo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              {% if user.is_authenticated %} <!-- Check if user is authenticated before display navbar icons -->
              <li class="nav-item">
                <a class="nav-link" href="{% url 'feed' %}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chat-square-text-fill" viewBox="0 0 16 16">
                    <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1z"/>
                  </svg>
                </a>
              </li>
              {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'home' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                      <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"/>
                    </svg>
                  </a>
              </li>
              {% endif %}
            </ul>
            <form class="d-flex m-0">
            {% if user.is_authenticated %} <!-- Check if user is authenticated before displaying login/logout behavior -->
            <div class="mt-1"><a class="btn btn-outline-danger" href="{% url 'logout' %}">Logout</a></div>
            {% else %}
            <div><a class="btn btn-outline-primary" href="{% url 'login' %}" type="button">Login</a></div>
            {% endif %}
            </form>
        </div>
        </div>
    </nav>
    </header>
    {% block content %}
    {% endblock %}
  </body>

  <footer class="container"> <!-- Footer with links to About and Contact pages -->
    <p class="float-end mt-3">Parker Allan &middot; SDEV-435 &middot; <a href="{% url 'about' %}">About</a> &middot; <a href="{% url 'contact' %}">Contact</a></p>
  </footer>
  <!-- Bootstrap core JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>
