{% extends 'base.html' %}
{% block content %}
  <style>
    body {
      margin-top: 20px;
      background-color: #121212;
      color: #e0e0e0;
    }

    .panel {
      background-color: #1e1e1e;
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.075);
      border-radius: 8px;
      border: 0;
      margin-bottom: 15px;
    }

    .panel .panel-footer, .panel>:last-child {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    .panel .panel-heading, .panel>:first-child {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    .panel-body {
      padding: 25px 20px;
    }

    .img-sm {
      width: 46px;
      height: 46px;
      border-radius: 50%;
    }

    .media-block .media-left {
      display: block;
      float: left;
    }

    .media-block .media-right {
      float: right;
    }

    .media-block .media-body {
      display: block;
      overflow: hidden;
      width: auto;
    }

    .mar-top {
      margin-top: 15px;
    }

    .collapsed-comments {
      display: none;
    }

    .post-button {
      position: fixed;
      bottom: 60px;
      right: 20px;
      width: 50px;
      height: 50px;
      background-color: #007bff;
      border: none;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    svg {
      fill: white;
    }

    .scroll-button {
      position: fixed;
      bottom: 120px;
      right: 27px;
      width: 35px;
      height: 35px;
      background-color: #007bff;
      border: none;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  </style>
  <div class="container mt-4">
    <div class="col-md-8 offset-md-2 mt-5">
      {% for post in posts %}
      <!-- Single Post Panel -->
        <div class="panel">
          <div class="panel-body">
            <div class="media-block">
              <div class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="/templates/assets/user.png"></div>
              <div class="media-body">
                <div class="mar-btm ms-3">
                  <p class="text-semibold media-heading box-inline m-0">{{ post.author.username }}</p>
                  <p class="text-muted text-sm">{{ post.created_at }}</p>
                </div>
                <p>{{ post.content }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  {% comment %} {% include 'counter.html' %} {% endcomment %}
                  <a class="btn btn-sm btn-outline-light" onclick="toggleSelector(event, 'comment-form', '{{ post.id }}')" href="#">Comment</a>
                </div>

                <!-- Comment Form -->
                <div class="comment-form mt-3" style="display: none;" data-post-id="{{ post.id }}">
                  <form method="POST" action="{% url 'feed' %}">
                    {% include 'comment_form.html' %}
                  </form>
                </div>
                <hr>

                <div>
                  <div class="d-flex justify-content-between">
                    {% if post.comments.count > 0 %}
                    <a class="btn btn-sm btn-outline-light" onclick="toggleSelector(event, 'collapsed-comments', '{{ post.id }}')">
                      View {{ post.comments.count }} Comment{% if post.comments.count > 1 %}s{% endif %}
                    </a>
                    {% endif %}                  
                    <a href="{% url 'post_detail' post.id %}" class="btn btn-sm btn-outline-light pb-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-angle-expand" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707m4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707"/>
                      </svg></a>
                  </div>
                  <!-- Collapsed Comments -->
                  <div class="collapsed-comments" data-post-id="{{ post.id }}">
                    {% for comment in post.comments.all %}
                      {% include 'comment_body.html' %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
          <h3 class="text-center">No posts found</h3>
        {% endfor %}
    </div>
  </div>

  <a onclick="scrollToTop()" class="scroll-button" href="#">
    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5"/>
    </svg>
  </a>

  <a href="{% url 'create_post' %}" class="post-button">
    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
    </svg>
  </a>

  <script>
    function toggleSelector(event, selectorClass, postId) {
      event.preventDefault();
      const selector = document.querySelector(`.${selectorClass}[data-post-id="${postId}"]`);
      selector.style.display = selector.style.display === 'none' || selector.style.display === '' ? 'block' : 'none';
    }
    function scrollToTop() {
      document.body.scrollTop = 0; // Safari
      document.documentElement.scrollTop = 0; // Chrome, Firefox
    }
  </script>
{% endblock %}
