{% extends 'base.html' %}
{% comment %}
  =================================================================================================
  This template is used to display the user's own profile information. The user can edit their display name, social links, and bio.
  =================================================================================================
{% endcomment %}
{% block content %}
{% load static %}
<style>
  body {
    margin-top: 50px;
    background-color: #121212;
    color: #e0e0e0;
  }
</style>
{% include 'back.html' %} <!-- Include the reusable back button -->
<div class="container mb-5 rounded" style="background-color: #1e1e1e;">
    <div class="row">
        <div class="col-md-3">
            <!-- Profile Picture, Username, and Email -->
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="mb-4" src="{% static 'images/user.png' %}" alt="Profile Picture" width="95" height="95" style="border-radius: 50%;">
                <h4>{{ user.username }}</h4>
                <h6>{{ user.email }}</h6>
            </div>
        </div>
        <div class="col-md-9">
            <form method="POST"> <!-- Form to submit profile details -->
                {% csrf_token %}
                <!-- Display Name -->
                <div class="form-floating mt-3">
                  <input type="text" name="display_name" id="displayName" class="form-control" value="{{ profile_form.display_name.value|default_if_none:'' }}" placeholder="Enter display name">
                  <label for="displayName">Display Name</label>
                </div>
                
                <!-- Social Link -->
                <div class="form-floating mt-3">
                  <input type="url" name="social_links" id="socialLinks" class="form-control" value="{{ profile_form.social_links.value|default_if_none:'' }}" placeholder="Add your social links (e.g., Twitter, LinkedIn)">
                  <label for="socialLinks">Social Link (URL)</label>
                </div>

                <!-- Bio -->
                <div class="form-group mt-3">
                  <textarea name="bio" rows="5" id="bio" class="form-control" placeholder="Tell us about yourself">{{ profile_form.bio.value|default_if_none:'' }}</textarea>
                </div>

                <!-- Save Button -->
                <div class="m-3 d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% include 'activity.html' %}
{% endblock %}
